# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Middleman'
      'submenu': [
        {
          'label': 'New Article'
          'command': 'middleman-article-creator:New Article'
        }
      ]
    ]
  }
]
